.main {
  background: $color-grey-4;
  padding-top: 50px;
  padding-bottom: 1px;
  width: calc(100% - 200px);
  margin-left: 200px;
  transition: $transition;
}

.main.active {
  width: calc(100% - 70px);
  margin-left: 70px;
}

.section__title {
  font-size: $font-size;
  font-weight: $font-medium;
  color: $color-grey-1;
  text-transform: uppercase;
  padding: 10px 20px 18px 20px;
  border-bottom: $border;
}

.section__subtitle {
  font-size: $font-size;
  font-weight: $font-medium;
  color: $color-grey-1;
}
