/* Boxes, rows and columns */

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container-fluid {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

[class^="col-"] {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
  
.box {
  margin: 20px;
  background-color: $color-white;
  padding-bottom: 20px;
  box-shadow: 0 0 10px $color-dark;
}


/* Media queries */

@media(max-width: 767px) {
  @include grid('sm');
}

@media(min-width: 768px) {
  @include grid('md');
}

@media(min-width: 992px) {
  @include grid('lg');
}

@media(min-width: 1200px) {
  @include grid('xl');
}