/* Colors */
$color-dark: #000000;
$color-blue: #3d79b4;
$color-red: #ff0000;
$color-white: #ffffff;


/* Fonts */
$font-main: "Open Sans", Helvetica, Arial;
$font-secondary: "Open Sans", Helvetica, Arial;

/* Font sizes */
$font-size: 12px;

/* Font weight */
$font-normal: 400;


/* Border */
$border: 1px solid $color-dark;


/* Transition */
$transition: all .5s ease-in-out;
